.botao ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(100% + 5px);
    min-width: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 4px;
    box-shadow: 0 0 5px #862dd4;
    list-style: none;
  }
  
  .botao ul li{
    background-color: #0875db;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color ease .2s;
  }
  .botao ul li:hover{
    background-color: #000000;
    color: #fcfcfc;
  }
  